################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/game-darksouls/FileContentIndex
/.vs/game-darksouls/v17/.suo
/.vs/game-darksouls/v17/.suo
/.vs/game-darksouls/DesignTimeBuild/.dtbcache.v2
